* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
      scroll-behavior: smooth;
      scrollbar-width: none;
}

:root {
      --surface-color: #f8f9ff;
      --primary-color: #3525cd;
      --hover-color: #0B1C30;
      --card-color: #e6eafc;
      --text-color: #0B1C30;
}

body {
      font-family: "manrope", sans-serif;
      background-attachment: fixed;
      background-color: var(--surface-color);
}

body::selection {
      background-color: var(--primary-color);
      color: var(--surface-color);
}

a, a:link, a:visited, a:hover, a:active {
      text-decoration: none;
}

/* NAVBAR */

.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      background-color: var(--surface-color);
      height: 64px;
      width: 100%;
      position: fixed;
      border-bottom: 2px solid rgb(53, 37, 205, 0.1);
      z-index: 1000;
}

.navbar .logo {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: var(--primary-color);
      display: flex;
      align-items: center;
      gap: 10px;
}

.navbar .navbar-links {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      left: -25px;
}

.navbar .nav-links {
      display: flex;
      gap: 20px;
      list-style: none;
      text-decoration: none;
      margin: 0;
      padding: 0;
      align-items: center;
}

.navbar a {
      text-decoration: none;
      color: var(--primary-color);
      font-size: 16px;
      font-weight: 500;
      transition: color ease 0.2s;
      display: flex;
      align-items: center;
      transition: all 0.2s ease;
      padding: 2px;
}

.navbar a:visited {
      text-decoration: none;
}

.navbar .nav-links a:hover {
      color: #191158;
      text-decoration: none;
      transition: color ease 0.2s;
      background-color: var(--card-color);
      padding: 4px 8px;
      border-radius: 4px;
      transition: all 0.2s ease;
}

.navbar .navbar-links a.active {
      color: var(--primary-color);
      border-bottom: solid 2px var(--primary-color) ;
      transition: all 0.2s ease;
}

.navbar .navbar-links a.active:hover {
      border: none;
}

.navbar .right {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--primary-color);
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
}

.navbar .right i:hover {
      color: #191158;
}

.navbar-bottom {
      display: none;
}

/* info */

.info {
      display: flex;
      flex-direction: row;
      gap: 16px;
      padding: 96px;
      background-color: var(--surface-color);
}

/* HEADER */

.header {
      margin-top: 64px;
      padding: 32px;
      width: 100%;
      height: 40px;
      display: inline-block;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: var(--surface-color);
      margin-bottom: 48px;
}

.header .head {
      font-size: 36px;
      font-weight: bold;
      color: var(--hover-color);
      text-decoration: none;
      margin-bottom: 10px;
}

.header .text {
      font-size: 16px;
      color: #464555;
      text-wrap: wrap;
      text-decoration: none;
}

/* SEARCH */

.search {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      border-radius: 4px;
      width: calc(100% - 64px);
      margin: 20px 32px;
      height: 47px;
      background-color: var(--card-color);
      border-radius: 12px;
}

.search input {
      border: none;
      outline: none;
      background-color: transparent;
      width: 100%;
      font-size: 16px;
      color: var(--text-color);
}

.search input::placeholder {
      color: #464555;
      font-size: 16px;
}

.search i {
      color: var(--text-color);
      font-size: 18px;
}

/* filter */

.radio {
      display: flex;
      align-items: center;
      margin-left: 32px;
      gap: 8px;
      margin-bottom: 48px;
}

.radio label {
      width: 101.38px;
      height: 36px;
      background-color: var(--card-color);
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-color);
      font-size: 14px;
      cursor: pointer;
      transition: all 0.4s ease;
      font-weight: 500;
}

.radio input[type="radio"] {
      display: none;
}

.radio input[type="radio"]:checked + label {
      background-color: var(--primary-color);
      color: var(--surface-color);
      transition: all 0.2s ease;
}

.radio input[type="radio"] + label:hover {
      background-color: #d4d9f2;
      transition: all 0.2s ease;
}

.radio input[type="radio"]:checked + label:hover {
      background-color: var(--primary-color);
      color: var(--surface-color);
      transition: all 0.2s ease;
}

/* COURSES */


.courses {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 32px;
      width: calc(100% - 64px);
      margin: 0 32px;
      margin-bottom: 48px;
      height: 840px;
}
    
.course-1 {
      grid-column: span 2 / span 2;
      display: grid;
      grid-template-columns: 236.8px 1fr;
      grid-template-rows: 1fr;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--card-color);
      cursor: pointer;
      transition: all 0.2s ease;
}

.course-1:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transform: scale(1.02);
      transition: all 0.2s ease;
}

.course-1 .type {
      margin-bottom: 32px;
      color: var(--primary-color);
      font-size: 12px;
      font-weight: bold;
}

.course-1 .image {
      background-image: url("../photos/data-server-racks-hub-room-with-big-data-computer-center-blue-interior-hosting-storage-hardware.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.course-1 .course-info {
      display: flex;
      flex-direction: column;
      padding: 32px;
      justify-content: space-between;
}

.course-1 .top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
}

.course-1 .course-info .course-title {
      font-size: 24px;
      font-weight: bold;
      text-wrap: wrap;
      margin-bottom: 20px;
}

.course-1 .course-info .description {
      font-size: 14px;
      color: var(--hover-color);
} 

.course-1 .time-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: var(--primary-color);
}

.course-1 .time-left .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
}

.course-2 {
      grid-column-start: 3;
}

.course-2 .image {
      background-image: url("../photos/computer-desktop-screen-table.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.course-3 .image {
      background-image: url("../photos/stock-market-chart-virtual-screen-with-woman-s-hand-digital-remix.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.course-4 .image {
      background-image: url("../photos/chris-ried-ieic5Tq8YMk-unsplash.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.course-5 .image {
      background-image: url("../photos/coding-man.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.course-3 {
      grid-column-start: 4;
}

.course-4 {
      grid-row-start: 2;
}

.course-5 {
      grid-row-start: 2;
}

.grow {
      grid-row-start: 2;
}

.courses .course-card {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--card-color);
      cursor: pointer;
      transition: all 0.2s ease;
}

.courses .course-card:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transform: scale(1.02);
      transition: all 0.2s ease;
}

.courses .course-card .type {
      font-size: 12px;
      color: var(--primary-color);
      font-weight: bold;
      margin-bottom: 22px;
}

.courses .course-card .title {
      font-size: 18px;
      font-weight: bold;
}

.courses .course-card .time-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: var(--primary-color);
}

.courses .course-card .image {
      width: 100%;
      height: 192px;
}

.courses .course-card .course-info {
      display: flex;
      flex-direction: column;
      padding: 24px;
      justify-content: space-between;
      flex: 1;
}

.courses .grow {
      background-color: var(--card-color);
      padding: 92px 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
}

.courses .grow .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      font-size: 20px;
      color: var(--primary-color);
      background-color: #d3e4fe;
      border-radius: 12px;
      margin-bottom: 16px;
}

.courses .grow .title {
      font-size: 18px;
      color: var(--text-color);
      font-weight: bold;
      margin-bottom: 8px;
}

.courses .grow .small {
      font-size: 14px;
      color: var(--hover-color);
      text-wrap: wrap;
      text-align: center;
      margin-bottom: 24px;
}

.courses .grow .button {
      background-color: var(--primary-color);
      color: var(--surface-color);
      width: 170.39px;
      height: 36px;
      border-radius: 12px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;
}

.courses .grow .button:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transform: scale(1.02);
      transition: all 0.2s ease;
}

.courses .grow .button a {
      color: var(--surface-color);
      width: 100%;
      text-align: center;
}

.courses .grow .button a:visited {
      text-decoration: none;
      color: var(--surface-color);
}

/* footer */

.footer {
      width: 100%;
      height: 117px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #464555;
      background-color: var(--card-color);
}

/* mobile responsive */

@media (max-width: 767px) {
      body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            overflow-x: hidden;
      }
      
      /* navbar */

      .navbar {
            padding: 16px 25px;
            height: auto;
      }

      .navbar .navbar-links {
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
      }

      .navbar .nav-links a {
            padding: 5px;
            font-size: 12px;
      }

      .navbar-bottom {
            display: block !important;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background-color: var(--surface-color);
            border-top: 1px solid rgb(53, 37, 205, 0.1);
            z-index: 1000;
      }

      .navbar-bottom .nav-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
            width: 100%;
            background-color: var(--surface-color);
      }

      .navbar-bottom ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 12px 23px;
            gap: 14px;
      }
      
      .navbar-bottom ul li a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: var(--text-color);
            text-wrap: nowrap;
      }

      .navbar-bottom ul li a.active {
            color: var(--primary-color);
            background-color: var(--card-color);
            padding: 4px 4px;
            border-radius: 12px;
      }

      .navbar-bottom ul li a i {
            font-size: 20px;
      }

      /* radio */

      .radio {
            flex-wrap: wrap;
      }

      /* courses */

      .courses {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 32px;
            height: auto;
            width: 100%;
            margin-bottom: 40px;
            padding: 20px;
            margin-left: 0;
      }
      
      .courses .course-card {
            display: flex;
            width: 100%;
            height: 356px;
            flex-direction: column;
            border-radius: 8px;
            overflow: hidden;
            background-color: var(--card-color);
            cursor: pointer;
            transition: all 0.2s ease;
      }

      .courses .course-1 {
            display: flex;
            width: 100%;
            height: 511.8px;
            flex-direction: column;
            border-radius: 8px;
            overflow: hidden;
            background-color: var(--card-color);
            cursor: pointer;
            transition: all 0.2s ease;
      }

      .courses .course-1:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            transform: scale(1.02);
            transition: all 0.2s ease;
      }

      .courses .course-1 .type {
            font-size: 12px;
            color: var(--primary-color);
            font-weight: bold;
            margin-bottom: 22px;
      }

      .courses .course-1 .title {
            font-size: 18px;
            font-weight: bold;
      }

      .courses .course-1 .time-left {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: var(--primary-color);
      }

      .courses .course-1 .image {
            width: 100%;
            height: 192px;
      }

      .courses .course-1 .course-info {
            display: flex;
            flex-direction: column;
            padding: 24px;
            justify-content: space-between;
            flex: 1;
      }

      .course-2 {
            grid-column-start: 1;
            grid-row-start: 2;
      }

      .course-3 {
            grid-column-start: 1;
      }

      .course-4 {
            grid-row-start: 4;
      }

      .course-5 {
            grid-row-start: 5;
      }

      .grow {
            grid-row-start: 6;
      }

      /* footer */

      .footer {
            margin-bottom: 75px;
      }
}

/* tablet responsive */

@media (min-width: 768px) and (max-width: 1023px) {
      body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            overflow-x: hidden;
      }
      
      /* courses */

      .courses {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            justify-content: space-between;
      }

      .course-1 {
            width: 100%;
            height: 300px;
      }

      .courses .course-card {
            width: 47%;
            height: 370px;
      }

      .courses .grow {
            width: 47%;
            height: 370px;
      }
}