* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --surface-color: #f8f9ff;
      --primary-color: #3525CD;
      --hover-color: #191158;
}

body::selection {
      background-color: var(--primary-color);
      color: var(--surface-color);
}

/* NAVBAR */

.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      background-color: var(--surface-color);
      height: 64px;
      width: 100%;
      position: fixed;
}

.navbar .logo {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: var(--primary-color);
      display: flex;
      align-items: center;
      gap: 10px;
}

.navbar .navbar-links {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      left: -25px;
}

.navbar .nav-links {
      display: flex;
      gap: 20px;
      list-style: none;
      text-decoration: none;
      margin: 0;
      padding: 0;
      align-items: center;
}

.navbar a {
      text-decoration: none;
      color: var(--primary-color);
      font-size: 16px;
      font-weight: 500;
      transition: color ease 0.2s;
      display: flex;
      align-items: center;
}

.navbar a:visited {
      text-decoration: none;
}

.navbar .nav-links a:hover {
      color: #191158;
      text-decoration: none;
      transition: color ease 0.2s;
}

.navbar .right {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--primary-color);
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
}

.navbar .right i:hover {
      color: #191158;
}